[submodule "discord-hero"]
	path = discord-hero
	url = git@github.com:monospacedmagic/discord-hero.git
[submodule "achallonge"]
	path = achallonge
	url = git@github.com:monospacedmagic/achallonge.git
